.container-post{
    display: flex;
    flex-direction: column;
}

.container-post .illustration {
    margin: auto;
    width: fit-content;
    height: fit-content;
}

.author-date {
    display: flex;
    justify-content: space-between;
    width: 50vw !important;
    margin: 2% 0;
}

.author-date span {
    font-family: Calibri;
    font-size: 18pt;
    color: black;
}

.clock {
    position: relative;
    top: 13%;
    right: 4%;
}

.content {
    border:rgba(0, 0, 0, 0.1) 0.5px solid;
    width: 90%;
}

h1.title {
    color: black;
    font-size: 60pt;
    text-align: center;
    margin: 3% auto ;
}

p.content {
    text-align: left;
    text-indent: 5%;
}