.main-container {
    display: flex;
    height: 100%;
    color: white;
    font-family: 'Hermit Bold';
    background-image: url(../../assets/0_E0oXyDylhIc78F2q.jfif);
    background-size: 100%;
}

.right-container { 
    width: 50vw;
    height: 100vh;
    margin-left: auto;
    
    background: linear-gradient(270deg, rgba(46,51,57,1) 0%, rgba(46,51,57,1) 90%, rgba(46,51,57,0) 100%);
}

.right-container strong {
    display: block;
    font-size: 4rem;
    margin-right: 2%;
    margin-top: 2%;
    float: right;
}

div.nome {
    display: flex;
    justify-content: center;
}

div.nome * {
    font-size: 12rem;
    margin-top: 6vh;
    margin-left: 10vw;
}

div.nome h1.Lopes {
    margin-top: 15vh;
    margin-left: -4%;
}

div.nome h1.Melo {
    margin-top: 24vh;
    margin-left: -4%;
}

div.nome .animated-underline {
    margin-left: 0;
    animation: blinking 1.5s infinite;
}

@keyframes blinking {
    0% { opacity: 100%; }
    49% { opacity: 100%; }
    50% { opacity: 0%; }
    99% { opacity: 0%; }
    100% { opacity: 100%; }
}

div.menu{
    text-align: right;
    font-size: 10rem;
    margin-top: 35vh;
    margin-right: 2.5vw;
    margin: 30vh 2.5vw 0 0;
}

.right-container a::before {
    content: attr(data-text);
    position: absolute;
    overflow: hidden;
    width: 0%;
    transition: 1s ease-in-out;
}

/*.right-container a.portfolio:hover::before {
    width: 100%;
}

.right-container a.blog:hover::before {
    width: 17.5vw;
}

.right-container a.contato:hover::before {
    width: 26.2vw;
}

.right-container a.portfolio::before {
    color: #83e0ff;
}

.right-container a.blog::before {
    color: #2ef7a0;
}

.right-container a.contato::before {
    color: #ff4696;
}*/

img {
    position: absolute;
    width: 25vw;
    top: 4.5vh;
    left: 4vw;
}

.left-container h2 {
    position: absolute;
    font-size: 10rem;
    margin-left: 10rem;
}

.left-container h2.devweb {
    margin-top: 65vh;

}

.left-container h2.js {
    margin-top: 75vh;
}

.left-container h2.fs {
    margin-top: 85vh;
}

@media (max-width: 1024px) {
    .main-container {
        background-size: 110%;
    }

    .right-container strong {
        display: none;
    }
}

@media (max-width: 1024px) {

    .main-container {
        background-size: 140%;
    }

    div.menu{
        margin-top: 38vh;
    }

}

@media (max-width: 750px) {

    img {
        position: absolute;
        top: 30vh;
        left: 30vw;
        z-index: 10;
        width: 40vw;
    }

    .right-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-color: rgb(46, 51, 57);
        position: absolute;
        width: 100%;
        height: 100%;
    }
   

    div.nome *,
    div.nome h1.Lopes,
    div.nome h1.Melo {
        display: inline;
        margin: auto 2vw;
        font-size: 15rem;
    }

    div.menu {
        margin-bottom: 8vh;
        font-size: 14rem;
    }

}