h1 {
    font-family: Hermit Bold;
    font-size: 36pt;
    margin-top: 30px;
    margin-left: 60px;
}

p {
    font-family: Calibri;
    font-size: 20pt;
    text-align: left;
    line-height: 40px;
    margin-bottom: 20px;
    margin-top: 40px;
    margin-left: 20px;
    text-indent: 40px;
}

span {
    font-family: Hermit Bold;
    color: white;
    font-size: 20pt;
    margin-left: 10px;
}

nav {
    display: flex;
    align-items: center;
    width: 100vw;
    height: 12vh;
    background-color: #2e3339;
    margin-bottom: auto;
}

.title {
    color: white;
    font-size: 60pt;
    margin-left: 29%;
    margin-bottom: 20px;
}

.main-contact {
    display: flex;
    flex-direction: row;
    width: 80vw;
    height: 70vh;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.fale-comigo {
    width: 52vw;
    height: 70vh;
    margin-right: auto;
    border-right: black solid 1px;
}

.contatos {
    width: 28vw;
    height: 70vh;
}

.contatos h1 {
    margin-left: 5%;
}

.contatos ul {
    font-family: Calibri;
    font-size: 17pt;
    color: black;
    list-style: none;
    margin-left: 10px;
    margin-top: 45px;
}

.contatos ul li {
    word-wrap: break-word;
    margin-top: 25px;
}

.contatos ul li a{
    color: black;
}

footer {
    color: white;
    display: flex;
    width: 100vw;
    height: 8vh;
    background-color: #2e3339;
    margin-top: auto;
}

footer ul {
    list-style: none;
    margin-left: auto;
    margin-right: 3vw;
}

footer ul li {
    display: inline-block;
    margin-top: 1.5vh;
    margin-right: 1vw;
}

footer h2 {
    font-family: Hermit Bold;
    font-size: 25pt;
    margin-top: 1.5vh;
    margin-left: 3vw;
    margin-right: auto;
}