/* navbar */

.contact-navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    background-color: #2e3339;
    color: white;
    font-family: Hermit bold;
    font-size: 6rem;
}

.contact-navbar a {
    display: flex;
    position: absolute;
    left: 0;
}

.back-arrow {
    margin-left: 2vw;
    font-size: 8rem;
}

.back-arrow-text {
    color: white;
    text-indent: 0;
    cursor: pointer;
    font-size: 6rem;
}
/* Main */

.main-contact {
    display: flex;
    margin: auto;
}

.main-contact h1 {
    font-family: Hermit Bold;
    font-size: 8rem;
    margin-left: 4vw;
}

.main-contact p {
    font-family: Calibri;
    font-size: 5rem;
    text-align: left;
    line-height: 6rem;
    margin-bottom: 5vh;
    margin-top: 6rem;
    margin-left: 2vw;
    text-indent: 5rem;
}

.contatos {
    width: 30vw;
    padding: 4vh 0;
}

.contatos h1 {
    margin-left: 5%;
}

.contatos ul {
    font-family: Calibri;
    font-size: 4rem;
    color: black;
    list-style: none;
    margin-left: 10px;
    margin-top: 2vh;
}

.contatos ul li {
    margin-left: 1vw;
    margin-top: 6vh;
}

.contatos ul li a {
    color: black;
}

.fale-comigo,
.contatos {
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
    margin: auto 5vh;
}

.fale-comigo {
    width: 50vw;
    padding: 4vh 1vw;
}

@media (max-width: 750px) {

    .contatos {
        display: none;
    }

    .contact-navbar {
        justify-content: flex-end;
    }

}

