.login-main {
    width: 40vw;
    height: 50vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    font-family: Calibri;
}

.login-h1 {
    margin: 0;
    font-family: Hermit Bold;
    font-size: 5rem;
}

.login-form {
    margin-top: 3vh;
}

.login {
    display: block;
    width: 100%;
    font-size: 5rem;
    margin-top: 5vh;
}

.login input {
    width: 50%;
    font-size: 3rem;
    position: relative;
    margin-left: 1vw;
}

.login-form button {
    width: 40%;
    height: 20%;
    margin-top: 10%;
    margin-left: 25%;
}