footer {
    color: white;
    display: flex;
    width: 100vw;
    height: 8vh;
    background-color: #2e3339;
    margin-top: auto;
}

footer ul {
    list-style: none;
    margin-left: auto;
    margin-right: 3vw;
}

footer ul li {
    display: inline-block;
    margin-top: 1.5vh;
    margin-right: 1vw;
}

footer h2 {
    font-family: Hermit Bold;
    font-size: 25pt;
    margin-top: 1.5vh;
    margin-left: 3vw;
    margin-right: auto;
}