@font-face {
    font-family: "Hermit Bold";
    src: url(./assets/fonts/Hermit-Bold.otf)format('opentype');
}

@font-face {
    font-family: "Calibri";
    src: url(./assets/fonts/calibri.ttf)format('truetype');
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

span {
    cursor: default;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: white;
}

.back-arrow {
    color: white;
    margin-left: 1vw;
}

footer {
    color: white;
    display: flex;
    width: 100vw;
    height: 8vh;
    background-color: #2e3339;
    margin-top: auto;
}

footer ul {
    list-style: none;
    margin-left: auto;
    margin-right: 3vw;
}

footer ul li {
    display: inline-block;
    margin-top: 1.5vh;
    margin-right: 1vw;
}

footer h2 {
    font-family: Hermit Bold;
    font-size: 25pt;
    margin-top: 1.5vh;
    margin-left: 3vw;
    margin-right: auto;
}

/*! Animação menu hamburguer */

#checkbox-menu {
    position: absolute;
    left: 17vw;
    opacity: 0;
    width: 38px;
    height: 30px;
}

label {
    position: relative;
    left: 8vw;
    display: block;
    height: 30px;
    width: 38px;
}

label span:nth-child(1){
    top: 0;
}

label span:nth-child(2){
    top: 12px;
}

label span:nth-child(3){
    top: 24px;
}


label span {
    position: absolute;
    display: block;
    height: 5px;
    width: 100%;
    border-radius: 30px;
    background-color: white;
    transition: 0.25s ease-in-out;
}

#checkbox-menu:checked + label span:nth-child(1){
    transform: rotate(-45deg);
    top: 12px;
}

#checkbox-menu:checked + label span:nth-child(2){
    opacity: 0;
}

#checkbox-menu:checked + label span:nth-child(3){
    transform: rotate(45deg);
    top: 12px;
}