@font-face {
    font-family: "Hermit Bold";
    src: url(./assets/fonts/Hermit-Bold.otf)format('opentype');
}

@font-face {
    font-family: "Calibri";
    src: url(./assets/fonts/calibri.ttf)format('truetype');
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

span {
    cursor: default;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: white;
}

.back-arrow {
    color: white;
    margin-left: 1vw;
}
