.back-next {
    display: flex;
    margin: auto auto 8vh auto ;
    font-size: 25pt;
    width: 25%;
    min-width: 200px;
    justify-content: space-between;
}

.back, .next {
    cursor: pointer;
    transition: 0.2s;
}

.back:hover, .next:hover {
    font-size: 28pt;
}