.back-next {
    display: flex;
    margin-bottom: 4%;
    margin-top: -2%;
    font-size: 8rem;
    width: 25%;
    justify-content: space-between;
}

.back, .next {
    cursor: pointer;
    transition: 0.2s;
}

.back:hover, .next:hover {
    font-size: 8.5rem;
}