nav {
    color: white;
    font-family: Hermit Bold;
    display: flex;
    align-items: center;
    width: 100vw;
    height: 12vh;
    background-color: #2e3339;
    margin-bottom: auto;
}

h2 {
    font-size: 40pt;
    margin-left: 10vw;
}

nav ul {
    margin-left: auto;
    margin-right: 6vw;
}

nav ul li{
    font-size: 25pt;
    display: inline;
    margin-right: 3vw;
}

.line {
    position: absolute;
    left: 36vw;
    width: 1.5px;
    height: 12vw;
    background-color: white;
}

.bar {
    width: 5px;
    height: 3px;
    background-color: white;
}

main {
    width: 80vw;
    height: 70vh;
}