.addPost {
    font-family: Calibri;
    font-size: 2.5rem;
    padding: 0.5%;
    color: black;
    border: rgba(0, 0, 0, 0.5) 1px solid;
    border-radius: 5px;
}

.addPost:hover {
    font-size: 2.6rem;
    font-weight: bold;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10vh;
    margin-bottom: 10vh;
    width: 60vw;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
    padding: 4vh;
    border-radius: 5px;
}

.post-container,
.illustration,
.text {
     border: rgba(0, 0, 0, 0.1) 0.5px solid; 
}

.post-container {
    font-family: Calibri;
    word-wrap: break-word;
    display: flex;
    width: 100%;
    height: 30vh;
    margin-bottom: 2vh;
}

.illustration {
    display: flex;
    width: 25%;
    height: 90%;
    margin: 1.5%;
    background-size: 100%;
}

.text {
    display: flex;
    flex-direction: column;
    width: 75%;
    height: 90%;
    margin: 1.5%;
    padding: 10px;
}

.text .title {
    width: 85%;
    height: 20%;
    font-size: 2.5rem;
    font-weight: bold;
    text-indent: 2%;
    margin: 0 2% 0 0;
    color: black;
}

.text .title:hover {
    text-decoration: underline #dadada;
    color: #dadada;
}

.text .description {
    width: 100%;
    height: 70%;
    margin-top: 5px;
    text-indent: 5%;
    font-size: 16pt;
}

.text .date {
    width: 15%;
    height: 10%;
    margin-left: auto;
    text-align: center;
}

.info {
    display: inline-block;
    width: 100%;
}

.trash {
    margin-right: 2%;
    cursor: pointer;
}